<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Équipements sportifs en Pays de la Loire</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body  >
<div id="affichage">

<header>
    <h1>Équipements sportifs en Pays de la Loire</h1>
    <div>
        <input type="text" name="recherche" class="recherche" placeholder="Que recherchez-vous ?" ref="recherche">
        <br><br>
        
        <select name="region" class="region" ref="region">
            <option value="region_entiere">Toute la région</option>
            <option value="loire_atlantique">Loire-Atlantique</option>
            <option value="maine_loire">Maine-et-Loire</option>
            <option value="mayenne">Mayenne</option>
            <option value="sarthe">Sarthe</option>
        </select>
        
        <input type="text" name="ville_cp" class="ville_cp" placeholder="Code postal ou ville" ref="codePostal">
        <br><br>
        
        <div class="radio">
             <input type="radio" name="type" id="installation" ref="installation" checked>
            <label for="installation">Installations</label>
             <input type="radio" name="type" id="activite" ref="activite">
            <label for="activite">Activités</label>
        </div>
    </div>
    <button @click="search">Rechercher</button>
<!--
    <div class="filtre">
        <br> <br>
        <p>Couvert</p>
        <br> <br>
        <p>Accès handicapé</p>
        <br> <br>
        <p>Ouiiefueifuei</p>
        <br> <br>
        <p>JE SUIS LONGAAAAAAAAAAAAAAAAAAAAAAA</p>
    </div>
-->
</header>

<section>
    <div>
        <ol>
            <li v-for="installation in installations">
                <h2>{{ installation.nom }}</h2> <h3>{{ installation.nomVoie }}</h3>
                <div ref="toggle_installations">infos</div>
                <br>
            </li>
            <li v-for="activite in activites">
                <h2>{{ activite.nomact }}</h2>
                <div ref="toggle_equipements">infos</div>
                <template v-for="equipement in activite.equipement">
                    {{equipement.nom}}
                </template>


                <br>
            </li>
        </ol>
    </div>
</section>

</div>
<script type="text/javascript" src="script.js"></script>
</body>
</html>